<template name="header">
  <header class="centered-navigation">
    <div class="centered-navigation-wrapper">

      <a href="" class="centered-navigation-menu-button" id="js-mobile-menu">MENU</a>

      <div class="nav">
        <div id="corner-left"></div>
        <ul class="centered-navigation-menu">
          <li class="nav-link"><a href="/">home</a></li>
          <li class="nav-link more"><a href="javascript:void(0)">about</a>
            <ul class="submenu">
              <li><a href="">Circle K</a></li>
              <li><a href="">Division</a></li>
              <li><a href="">Club</a></li>
            </ul>
          </li>
          <li class="nav-link"><a href="{{pathFor 'events'}}">calendar</a></li>
          <li class="nav-link more"><a href="">district</a>
            <ul class="submenu">
              <li><a href="">About</a></li>
              <li><a target="_blank" href="http://dcon.cnhcirclek.org/">DCON</a></li>
              <li><a target="_blank" href="http://ftc.cnhcirclek.org/">FTC</a></li>
              <li><a target="_blank" href="http://www.cnhcirclek.org/event/7-crazy_kompetition_for_infants_south/">CKI
                South</a></li>
            </ul>
          </li>
          <li class="nav-link more"><a target="_blank" href="http://www.kiwanis.org/">kiwanis</a>
            <ul class="submenu">
              <li><a target="_blank" href="http://www.kiwanisclublajolla.org/">La Jolla Kiwanis</a></li>
              <li><a target="_blank" href="http://www.sdsucirclek.com">SDSU Circle K</a></li>
            </ul>
          </li>
          <li class="nav-link"><a href="">contact</a></li>
          <li class="nav-link"><a href="">login</a></li>
          <li class="nav-link"><a href="">register</a></li>
          <li class="nav-link"><a href="">settings</a></li>

        </ul>
        <div id="corner-right"></div>
      </div>

    </div>
  </header>
</template>

